<h3 class="">Novo Contato</h3>

<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-datasource" id="crn-datasource-763276"> 
   <datasource name="tb_contato" entity="api/rest/tb_contato" keys="id_conato" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource> 
</div> 
<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-button" id="crn-button-564202"> 
  <button class="btn btn-primary" type="submit" onclick="" ng-click="tb_contato.startInserting()" ng-hide="tb_contato.inserting || tb_contato.editing"><i class="fa fa-user"></i> <span class="">{{"template.crud.new" | translate}}</span></button> 
</div> 
<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-grid" id="crn-grid-tb_contato"> 
  <div crn-datasource="tb_contato" class="" ng-hide="tb_contato.editing || tb_contato.inserting"> 
    <table class="table  table-bordered table-hover table-striped"> 
      <thead> 
        <tr class="table-header"> 
          <th class=""> 
            <div class="">Id _conato</div>
          </th> 
          <th class=""> 
            <div class="">Nr _ddd</div>
          </th> 
          <th class=""> 
            <div class="">Nr _cel</div>
          </th> 
          <th class=""> 
            <div class="">Nr _tel</div>
          </th> 
          <th class=""> 
            <div class="">Nm _email</div>
          </th> 
          <th class=""> 
          <div class="">{{"template.crud.actions" | translate}}</div>
          </th> 
        </tr> 
      </thead> 
      <tbody> 
        <tr class="table-content" ng-repeat="rowData in datasource.data"> 
          <td class=""> 
            <div class="">

                  {{rowData.id_conato}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.nr_ddd}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.nr_cel}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.nr_tel}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.nm_email}}
        
            </div>
          </td> 
          <td class=""> 
            <div class=""> 
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i></button> 
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button> 
            </div></td> 
        </tr> 
      </tbody> 
    </table> 
    <div class="table-footer-controls"> 
      <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button> 
    </div> 
  </div> 
</div> 
<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-form" id="crn-form-form-tb_contato"> 
  <div class="form" ng-show="tb_contato.editing || tb_contato.inserting"> 
    <form crn-datasource="tb_contato" class=""> 
      <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting"> 
        <button class="btn btn-primary" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button> 
        <button class="btn btn-success" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button> 
        <button class="btn btn-primary" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button> 
        <button class="btn btn-primary" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button> 
        <button class="btn btn-primary" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button> 
      </div> 
      <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting"> 
        <button class="btn btn-success" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button> 
        <button class="btn btn-danger" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button> 
      </div> 
      <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting"> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-nr_ddd"> 
          <div class="form-group"> 
            <label for="textinput-nr_ddd" class="">Nr _ddd</label> 

        <input type="number" ng-model="tb_contato.active.nr_ddd" class="form-control" id="textinput-nr_ddd" placeholder="Nr _ddd" required="required"> 

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-nr_cel"> 
          <div class="form-group"> 
            <label for="textinput-nr_cel" class="">Nr _cel</label> 

        <input type="number" ng-model="tb_contato.active.nr_cel" class="form-control" id="textinput-nr_cel" placeholder="Nr _cel" required="required"> 

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-nr_tel"> 
          <div class="form-group"> 
            <label for="textinput-nr_tel" class="">Nr _tel</label> 

        <input type="number" ng-model="tb_contato.active.nr_tel" class="form-control" id="textinput-nr_tel" placeholder="Nr _tel" required="required"> 

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-nm_email"> 
          <div class="form-group"> 
            <label for="textinput-nm_email" class="">Nm _email</label> 

        <input type="text" ng-model="tb_contato.active.nm_email" class="form-control" id="textinput-nm_email" placeholder="Nm _email" required="required"> 

          </div> 
        </div> 
        <div class=""></div> 
      </fieldset> 
    </form> 
  </div> 
</div> 
<div class=""></div>
