<h3 class="">Nova Especialidade</h3>

<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-datasource" id="crn-datasource-763276"> 
   <datasource name="tb_especialidade" entity="api/rest/tb_especialidade" keys="id_esp" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource> 
</div> 
<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-button" id="crn-button-564202"> 
  <button class="btn btn-primary" type="submit" onclick="" ng-click="tb_especialidade.startInserting()" ng-hide="tb_especialidade.inserting || tb_especialidade.editing"><i class="fa fa-user"></i> <span class="">{{"template.crud.new" | translate}}</span></button> 
</div> 
<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-grid" id="crn-grid-tb_especialidade"> 
  <div crn-datasource="tb_especialidade" class="" ng-hide="tb_especialidade.editing || tb_especialidade.inserting"> 
    <table class="table  table-bordered table-hover table-striped"> 
      <thead> 
        <tr class="table-header"> 
          <th class=""> 
            <div class="">Id _esp</div>
          </th> 
          <th class=""> 
            <div class="">Nm _especialidade</div>
          </th> 
          <th class=""> 
            <div class="">tb_procedimento</div>
          </th> 
          <th class=""> 
          <div class="">{{"template.crud.actions" | translate}}</div>
          </th> 
        </tr> 
      </thead> 
      <tbody> 
        <tr class="table-content" ng-repeat="rowData in datasource.data"> 
          <td class=""> 
            <div class="">

                  {{rowData.id_esp}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.nm_especialidade}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                {{rowData.tb_procedimento.ds_procedimento}}
        
            </div>
          </td> 
          <td class=""> 
            <div class=""> 
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i></button> 
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button> 
            </div></td> 
        </tr> 
      </tbody> 
    </table> 
    <div class="table-footer-controls"> 
      <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button> 
    </div> 
  </div> 
</div> 
<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-form" id="crn-form-form-tb_especialidade"> 
  <div class="form" ng-show="tb_especialidade.editing || tb_especialidade.inserting"> 
    <form crn-datasource="tb_especialidade" class=""> 
      <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting"> 
        <button class="btn btn-primary" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button> 
        <button class="btn btn-success" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button> 
        <button class="btn btn-primary" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button> 
        <button class="btn btn-primary" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button> 
        <button class="btn btn-primary" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button> 
      </div> 
      <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting"> 
        <button class="btn btn-success" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button> 
        <button class="btn btn-danger" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button> 
      </div> 
      <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting"> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-nm_especialidade"> 
          <div class="form-group"> 
            <label for="textinput-nm_especialidade" class="">Nm _especialidade</label> 

        <input type="text" ng-model="tb_especialidade.active.nm_especialidade" class="form-control" id="textinput-nm_especialidade" placeholder="Nm _especialidade" required="required"> 

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-tb_procedimento"> 
          <div class="form-group"> 
            <label for="textinput-tb_procedimento" class="">tb_procedimento</label> 


  <datasource name="tb_procedimento" entity="api/rest/tb_procedimento" keys="id_procedimento" class="" dependent-by="{{tb_especialidade}}"></datasource> 
  <select ng-model="tb_especialidade.active.tb_procedimento" class="form-control" id="textinput-tb_procedimento" ng-options="opt as opt.ds_procedimento for opt in tb_procedimento.data track by opt.id_procedimento">
    <option value="">None</option>
  </select>


          </div> 
        </div> 
        <div class=""></div> 
      </fieldset> 
    </form> 
  </div> 
</div> 
<div class=""></div>
