<h3 class="">Entrada no Estoque</h3>

<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-datasource" id="crn-datasource-763276"> 
   <datasource name="tb_est_entrada" entity="api/rest/tb_est_entrada" keys="id_est_ent" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource> 
</div> 
<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-button" id="crn-button-564202"> 
  <button class="btn btn-primary" type="submit" onclick="" ng-click="tb_est_entrada.startInserting()" ng-hide="tb_est_entrada.inserting || tb_est_entrada.editing"><i class="fa fa-user"></i> <span class="">{{"template.crud.new" | translate}}</span></button> 
</div> 
<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-grid" id="crn-grid-tb_est_entrada"> 
  <div crn-datasource="tb_est_entrada" class="" ng-hide="tb_est_entrada.editing || tb_est_entrada.inserting"> 
    <table class="table  table-bordered table-hover table-striped"> 
      <thead> 
        <tr class="table-header"> 
          <th class=""> 
            <div class="">Id _est _ent</div>
          </th> 
          <th class=""> 
            <div class="">tb_estoque</div>
          </th> 
          <th class=""> 
            <div class="">Dt _entrada</div>
          </th> 
          <th class=""> 
            <div class="">Qtd _entrada</div>
          </th> 
          <th class=""> 
          <div class="">{{"template.crud.actions" | translate}}</div>
          </th> 
        </tr> 
      </thead> 
      <tbody> 
        <tr class="table-content" ng-repeat="rowData in datasource.data"> 
          <td class=""> 
            <div class="">

                  {{rowData.id_est_ent}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.tb_estoque}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.dt_entrada | date:'dd/MM/yyyy'}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.qtd_entrada}}
        
            </div>
          </td> 
          <td class=""> 
            <div class=""> 
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i></button> 
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button> 
            </div></td> 
        </tr> 
      </tbody> 
    </table> 
    <div class="table-footer-controls"> 
      <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button> 
    </div> 
  </div> 
</div> 
<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-form" id="crn-form-form-tb_est_entrada"> 
  <div class="form" ng-show="tb_est_entrada.editing || tb_est_entrada.inserting"> 
    <form crn-datasource="tb_est_entrada" class=""> 
      <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting"> 
        <button class="btn btn-primary" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button> 
        <button class="btn btn-success" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button> 
        <button class="btn btn-primary" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button> 
        <button class="btn btn-primary" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button> 
        <button class="btn btn-primary" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button> 
      </div> 
      <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting"> 
        <button class="btn btn-success" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button> 
        <button class="btn btn-danger" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button> 
      </div> 
      <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting"> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-tb_estoque"> 
          <div class="form-group"> 
            <label for="textinput-tb_estoque" class="">tb_estoque</label> 


  <datasource name="tb_estoque" entity="api/rest/tb_estoque" keys="id_estoque" class="" dependent-by="{{tb_est_entrada}}"></datasource> 
  <select ng-model="tb_est_entrada.active.tb_estoque" class="form-control" id="textinput-tb_estoque" ng-options="opt as opt. for opt in tb_estoque.data track by opt.id_estoque">
    <option value="">None</option>
  </select>


          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-dt_entrada"> 
          <div class="form-group"> 
            <label for="textinput-dt_entrada" class="">Dt _entrada</label> 

        <div style="position:relative">
          <input type="text" as-date="" format="DD/MM/YYYY" ng-model="tb_est_entrada.active.dt_entrada" class="form-control" id="textinput-dt_entrada" placeholder="Dt _entrada" required="required">
        </div>

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-qtd_entrada"> 
          <div class="form-group"> 
            <label for="textinput-qtd_entrada" class="">Qtd _entrada</label> 

        <input type="number" ng-model="tb_est_entrada.active.qtd_entrada" class="form-control" id="textinput-qtd_entrada" placeholder="Qtd _entrada" required="required"> 

          </div> 
        </div> 
        <div class=""></div> 
      </fieldset> 
    </form> 
  </div> 
</div> 
<div class=""></div>
