<h3 class="">Novo Paciente</h3>

<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-datasource" id="crn-datasource-763276"> 
   <datasource name="tb_paciente" entity="api/rest/tb_paciente" keys="id_paciente" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource> 
</div> 
<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-button" id="crn-button-564202"> 
  <button class="btn btn-primary" type="submit" onclick="" ng-click="tb_paciente.startInserting()" ng-hide="tb_paciente.inserting || tb_paciente.editing"><i class="fa fa-user"></i> <span class="">{{"template.crud.new" | translate}}</span></button> 
</div> 
<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-grid" id="crn-grid-tb_paciente"> 
  <div crn-datasource="tb_paciente" class="" ng-hide="tb_paciente.editing || tb_paciente.inserting"> 
    <table class="table  table-bordered table-hover table-striped"> 
      <thead> 
        <tr class="table-header"> 
          <th class=""> 
            <div class="">Id _paciente</div>
          </th> 
          <th class=""> 
            <div class="">Nm _paciente</div>
          </th> 
          <th class=""> 
            <div class="">Nm _sobrenome</div>
          </th> 
          <th class=""> 
            <div class="">Dt _nascimento</div>
          </th> 
          <th class=""> 
            <div class="">Ds _sexo</div>
          </th> 
          <th class=""> 
            <div class="">Nr _rg</div>
          </th> 
          <th class=""> 
            <div class="">Nr _cpf</div>
          </th> 
          <th class=""> 
            <div class="">Nr _mtr _conv</div>
          </th> 
          <th class=""> 
            <div class="">Ds _paciente</div>
          </th> 
          <th class=""> 
            <div class="">tb_convenio</div>
          </th> 
          <th class=""> 
            <div class="">tb_contato</div>
          </th> 
          <th class=""> 
            <div class="">tb_endereco</div>
          </th> 
          <th class=""> 
          <div class="">{{"template.crud.actions" | translate}}</div>
          </th> 
        </tr> 
      </thead> 
      <tbody> 
        <tr class="table-content" ng-repeat="rowData in datasource.data"> 
          <td class=""> 
            <div class="">

                  {{rowData.id_paciente}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.nm_paciente}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.nm_sobrenome}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.dt_nascimento | date:'dd/MM/yyyy'}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.ds_sexo}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.nr_rg}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.nr_cpf}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.nr_mtr_conv}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.ds_paciente}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                {{rowData.tb_convenio.nm_convenio}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                {{rowData.tb_contato.nm_email}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                {{rowData.tb_endereco.nm_logradouro}}
        
            </div>
          </td> 
          <td class=""> 
            <div class=""> 
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i></button> 
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button> 
            </div></td> 
        </tr> 
      </tbody> 
    </table> 
    <div class="table-footer-controls"> 
      <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button> 
    </div> 
  </div> 
</div> 
<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-form" id="crn-form-form-tb_paciente"> 
  <div class="form" ng-show="tb_paciente.editing || tb_paciente.inserting"> 
    <form crn-datasource="tb_paciente" class=""> 
      <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting"> 
        <button class="btn btn-primary" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button> 
        <button class="btn btn-success" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button> 
        <button class="btn btn-primary" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button> 
        <button class="btn btn-primary" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button> 
        <button class="btn btn-primary" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button> 
      </div> 
      <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting"> 
        <button class="btn btn-success" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button> 
        <button class="btn btn-danger" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button> 
      </div> 
      <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting"> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-nm_paciente"> 
          <div class="form-group"> 
            <label for="textinput-nm_paciente" class="">Nm _paciente</label> 

        <input type="text" ng-model="tb_paciente.active.nm_paciente" class="form-control" id="textinput-nm_paciente" placeholder="Nm _paciente" required="required"> 

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-nm_sobrenome"> 
          <div class="form-group"> 
            <label for="textinput-nm_sobrenome" class="">Nm _sobrenome</label> 

        <input type="text" ng-model="tb_paciente.active.nm_sobrenome" class="form-control" id="textinput-nm_sobrenome" placeholder="Nm _sobrenome" required="required"> 

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-dt_nascimento"> 
          <div class="form-group"> 
            <label for="textinput-dt_nascimento" class="">Dt _nascimento</label> 

        <div style="position:relative">
          <input type="text" as-date="" format="DD/MM/YYYY" ng-model="tb_paciente.active.dt_nascimento" class="form-control" id="textinput-dt_nascimento" placeholder="Dt _nascimento" required="required">
        </div>

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-ds_sexo"> 
          <div class="form-group"> 
            <label for="textinput-ds_sexo" class="">Ds _sexo</label> 

        <input type="text" ng-model="tb_paciente.active.ds_sexo" class="form-control" id="textinput-ds_sexo" placeholder="Ds _sexo" required="required"> 

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-nr_rg"> 
          <div class="form-group"> 
            <label for="textinput-nr_rg" class="">Nr _rg</label> 

        <input type="text" ng-model="tb_paciente.active.nr_rg" class="form-control" id="textinput-nr_rg" placeholder="Nr _rg" required="required"> 

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-nr_cpf"> 
          <div class="form-group"> 
            <label for="textinput-nr_cpf" class="">Nr _cpf</label> 

        <input type="number" ng-model="tb_paciente.active.nr_cpf" class="form-control" id="textinput-nr_cpf" placeholder="Nr _cpf" required="required"> 

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-nr_mtr_conv"> 
          <div class="form-group"> 
            <label for="textinput-nr_mtr_conv" class="">Nr _mtr _conv</label> 

        <input type="text" ng-model="tb_paciente.active.nr_mtr_conv" class="form-control" id="textinput-nr_mtr_conv" placeholder="Nr _mtr _conv" required="required"> 

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-ds_paciente"> 
          <div class="form-group"> 
            <label for="textinput-ds_paciente" class="">Ds _paciente</label> 

        <input type="text" ng-model="tb_paciente.active.ds_paciente" class="form-control" id="textinput-ds_paciente" placeholder="Ds _paciente" required="required"> 

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-tb_convenio"> 
          <div class="form-group"> 
            <label for="textinput-tb_convenio" class="">tb_convenio</label> 


  <datasource name="tb_convenio" entity="api/rest/tb_convenio" keys="id_convenio" class="" dependent-by="{{tb_paciente}}"></datasource> 
  <select ng-model="tb_paciente.active.tb_convenio" class="form-control" id="textinput-tb_convenio" ng-options="opt as opt.nm_convenio for opt in tb_convenio.data track by opt.id_convenio">
    <option value="">None</option>
  </select>


          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-tb_contato"> 
          <div class="form-group"> 
            <label for="textinput-tb_contato" class="">tb_contato</label> 


  <datasource name="tb_contato" entity="api/rest/tb_contato" keys="id_conato" class="" dependent-by="{{tb_paciente}}"></datasource> 
  <select ng-model="tb_paciente.active.tb_contato" class="form-control" id="textinput-tb_contato" ng-options="opt as opt.nm_email for opt in tb_contato.data track by opt.id_conato">
    <option value="">None</option>
  </select>


          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-tb_endereco"> 
          <div class="form-group"> 
            <label for="textinput-tb_endereco" class="">tb_endereco</label> 


  <datasource name="tb_endereco" entity="api/rest/tb_endereco" keys="id_endereco" class="" dependent-by="{{tb_paciente}}"></datasource> 
  <select ng-model="tb_paciente.active.tb_endereco" class="form-control" id="textinput-tb_endereco" ng-options="opt as opt.nm_logradouro for opt in tb_endereco.data track by opt.id_endereco">
    <option value="">None</option>
  </select>


          </div> 
        </div> 
        <div class=""></div> 
      </fieldset> 
    </form> 
  </div> 
</div> 
<div class=""></div>
