<h3>User</h3>

<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-datasource" id="crn-datasource-763276"> 
   <datasource  name="User" entity="api/security/User" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource> 
</div> 
<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-button" id="crn-button-564202"> 
  <button class="btn btn-primary" type="submit" onclick="" ng-click="User.startInserting()" ng-hide="User.inserting || User.editing"><i class="fa fa-user"></i> <span class="">{{"template.crud.new" | translate}}</span></button> 
</div> 
<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-grid" id="crn-grid-User"> 
  <div crn-datasource="User" class="" ng-hide="User.editing || User.inserting"> 
    <table class="table  table-bordered table-hover table-striped"> 
      <thead> 
        <tr class="table-header"> 
          <th class=""> 
            <div class="">email</div>
          </th> 
          <th class=""> 
            <div class="">name</div>
          </th> 
          <th class=""> 
            <div class="">id</div>
          </th> 
          <th class=""> 
            <div class="">login</div>
          </th> 
          <th class=""> 
            <div class="">picture</div>
          </th> 
          <th class=""> 
            <div class="">password</div>
          </th> 
          <th class=""> 
            <div class="">theme</div>
          </th> 
          <th class=""> 
          <div class="">{{"template.crud.actions" | translate}}</div>
          </th> 
        </tr> 
      </thead> 
      <tbody> 
        <tr class="table-content" ng-repeat="rowData in datasource.data"> 
          <td class=""> 
            <div class="">

                  {{rowData.email}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.name}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.id}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.login}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.picture}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.password}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.theme}}
        
            </div>
          </td> 
          <td class=""> 
            <div class=""> 
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i></button> 
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button> 
            </div></td> 
        </tr> 
      </tbody> 
    </table> 
    <div class="table-footer-controls"> 
      <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button> 
    </div> 
  </div> 
</div> 
<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-form" id="crn-form-form-User"> 
  <div class="form" ng-show="User.editing || User.inserting"> 
    <form crn-datasource="User" class=""> 
      <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting"> 
        <button class="btn btn-primary" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button> 
        <button class="btn btn-success" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button> 
        <button class="btn btn-primary" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button> 
        <button class="btn btn-primary" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button> 
        <button class="btn btn-primary" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button> 
      </div> 
      <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting"> 
        <button class="btn btn-success" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button> 
        <button class="btn btn-danger" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button> 
      </div> 
      <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting"> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-email"> 
          <div class="form-group"> 
            <label for="textinput-email" class="">email</label> 

        <input type="text" ng-model="User.active.email" class="form-control" id="textinput-email" placeholder="email"  > 

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-name"> 
          <div class="form-group"> 
            <label for="textinput-name" class="">name</label> 

        <input type="text" ng-model="User.active.name" class="form-control" id="textinput-name" placeholder="name"  required="required"> 

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-login"> 
          <div class="form-group"> 
            <label for="textinput-login" class="">login</label> 

        <input type="text" ng-model="User.active.login" class="form-control" id="textinput-login" placeholder="login"  required="required"> 

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-picture"> 
          <div class="form-group"> 
            <label for="textinput-picture" class="">picture</label> 

        <input type="text" ng-model="User.active.picture" class="form-control" id="textinput-picture" placeholder="picture"  > 

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-password"> 
          <div class="form-group"> 
            <label for="textinput-password" class="">password</label> 

        <input type="password" ng-model="User.active.password" class="form-control" id="textinput-password" placeholder="password"  required="required"> 

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-theme"> 
          <div class="form-group"> 
            <label for="textinput-theme" class="">theme</label> 

        <input type="text" ng-model="User.active.theme" class="form-control" id="textinput-theme" placeholder="theme"  > 

          </div> 
        </div> 
        <div class=""></div> 
      </fieldset> 
    </form> 
  </div> 
</div> 
<div class=""></div>
