<h3>UserRole</h3>

<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-datasource" id="crn-datasource-763276"> 
   <datasource  name="UserRole" entity="api/security/UserRole" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource> 
</div> 
<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-button" id="crn-button-564202"> 
  <button class="btn btn-primary" type="submit" onclick="" ng-click="UserRole.startInserting()" ng-hide="UserRole.inserting || UserRole.editing"><i class="fa fa-user"></i> <span class="">{{"template.crud.new" | translate}}</span></button> 
</div> 
<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-grid" id="crn-grid-UserRole"> 
  <div crn-datasource="UserRole" class="" ng-hide="UserRole.editing || UserRole.inserting"> 
    <table class="table  table-bordered table-hover table-striped"> 
      <thead> 
        <tr class="table-header"> 
          <th class=""> 
            <div class="">id</div>
          </th> 
          <th class=""> 
            <div class="">user</div>
          </th> 
          <th class=""> 
            <div class="">role</div>
          </th> 
          <th class=""> 
          <div class="">{{"template.crud.actions" | translate}}</div>
          </th> 
        </tr> 
      </thead> 
      <tbody> 
        <tr class="table-content" ng-repeat="rowData in datasource.data"> 
          <td class=""> 
            <div class="">

                  {{rowData.id}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                {{rowData.user.email}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                {{rowData.role.name}}
        
            </div>
          </td> 
          <td class=""> 
            <div class=""> 
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i></button> 
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button> 
            </div></td> 
        </tr> 
      </tbody> 
    </table> 
    <div class="table-footer-controls"> 
      <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button> 
    </div> 
  </div> 
</div> 
<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-form" id="crn-form-form-UserRole"> 
  <div class="form" ng-show="UserRole.editing || UserRole.inserting"> 
    <form crn-datasource="UserRole" class=""> 
      <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting"> 
        <button class="btn btn-primary" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button> 
        <button class="btn btn-success" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button> 
        <button class="btn btn-primary" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button> 
        <button class="btn btn-primary" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button> 
        <button class="btn btn-primary" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button> 
      </div> 
      <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting"> 
        <button class="btn btn-success" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button> 
        <button class="btn btn-danger" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button> 
      </div> 
      <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting"> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-user"> 
          <div class="form-group"> 
            <label for="textinput-user" class="">user</label> 


  <datasource name="user" entity="api/security/User" keys="id" class="" dependent-by="{{UserRole}}"></datasource> 
  <select ng-model="UserRole.active.user" class="form-control" id="textinput-user" ng-options="opt as opt.email for opt in user.data track by opt.id" >
    <option value=''>None</option>
  </select>


          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-role"> 
          <div class="form-group"> 
            <label for="textinput-role" class="">role</label> 


  <datasource name="role" entity="api/security/Role" keys="id" class="" dependent-by="{{UserRole}}"></datasource> 
  <select ng-model="UserRole.active.role" class="form-control" id="textinput-role" ng-options="opt as opt.name for opt in role.data track by opt.id" >
    <option value=''>None</option>
  </select>


          </div> 
        </div> 
        <div class=""></div> 
      </fieldset> 
    </form> 
  </div> 
</div> 
<div class=""></div>
