<div class="form-group">
	<label for="">Label</label>
	<ui-select crn-datasource="" ng-model="" ng-disabled="disabled"theme="bootstrap" class="crn-select"> 
    <ui-select-match placeholder="Select..." class="">
       {{$select.selected}} 
    </ui-select-match> 
    <ui-select-choices repeat="rowData as rowData in datasource.data | filter : $select.search" class="" refresh="" refresh-deplay=""> 
      <div class="" data-container="true">
         {{rowData}} 
      </div> 
    </ui-select-choices> 
  </ui-select>
</div>