<div crn-datasource="">
  <table class="table  table-bordered table-hover">
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true">Column Header 1</div></th>
        <th><div data-container="true">Column Header 2</div></th>
      </tr>
    </thead>
      <tr class="table-content" ng-repeat="rowData in datasource.data">
        <td class="active"><div data-container="true">Column Content 2</div></td>
        <td><div data-container="true">Column Content 2</div></td>
      </tr>
    </tbody>
  </table>
  <div class="table-footer-controls">
    <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">Load more...</button>
  </div>
</div>