<div class="form-group"> 
  <label for="">Label</label> 
  <ui-select multiple crn-datasource="" ng-model="" theme="bootstrap" ng-disabled="disabled" class="crn-select"> 
    <ui-select-match placeholder="Select person..." class="">
       {{$item}} 
    </ui-select-match> 
    <ui-select-choices repeat="rowData as rowData in datasource.data | filter : $select.search" class=""> 
      <div class="" data-container="true">
         {{rowData}} 
      </div> 
    </ui-select-choices> 
  </ui-select> 
</div>