<div class="ctn-tab">  
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a data-target="#tab1" role="tab" data-toggle="tab">First Tab</a></li>
    <li role="presentation"><a data-target="#tab2" role="tab" data-toggle="tab">Second Tab</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab1"><div data-container="true"></div></div>
    <div role="tabpanel" class="tab-pane" id="tab2"><div data-container="true"></div></div>
  </div>
</div>