<ol class="tree"> 
  <li class="component-holder">
    <label for="folder1">Folder</label>
    <input type="checkbox" id="folder1">
    <ol> 
      <li class="component-holder" data-component="crn-tree-item"><a href=""><i class="fa fa-file-o"></i> <span>Item</span></a></li>
      <li> <label for="folder12">Folder</label> <input type="checkbox" id="subfolder12"> 
        <ol> 
          <li class="component-holder" data-component="crn-tree-item"><a href=""><i class="fa fa-file-o"></i> <span>Item</span></a></li> 
          <li class="component-holder" data-component="crn-tree-item"><a href=""><i class="fa fa-file-o"></i> <span>Item</span></a></li> 
          <li class="component-holder" data-component="crn-tree-item"><a href=""><i class="fa fa-file-o"></i> <span>Item</span></a></li> 
          <li class="component-holder" data-component="crn-tree-item"><a href=""><i class="fa fa-file-o"></i> <span>Item</span></a></li> 
          <li class="component-holder" data-component="crn-tree-item"><a href=""><i class="fa fa-file-o"></i> <span>Item</span></a></li> 
          <li class="component-holder" data-component="crn-tree-item"><a href=""><i class="fa fa-file-o"></i> <span>Item</span></a></li> 
        </ol>
      </li> 
    </ol>
  </li> 
</ol>